{{define "content" -}}
<h1>ダッシュボード</h1>
{{with .Data -}}
{{if .AdminError -}}
<article class="notice-error" role="alert">
  <p>{{.AdminError}}</p>
</article>
{{- else -}}
<div class="grid">
  <article>
    <header>加入者</header>
    <p class="metric">{{.Status.SubscriberCount}}</p>
  </article>
  <article>
    <header>AVクライアント</header>
    <p class="metric">{{.Status.ClientCount}}</p>
  </article>
</div>
<table>
  <tbody>
    <tr><th scope="row">aka-only-server のバージョン</th><td>{{.Status.Version}}</td></tr>
    <tr><th scope="row">起動日時</th><td>{{datetime .Status.StartedAt}}</td></tr>
    <tr><th scope="row">AV用サーバー証明書の有効期限</th><td>{{datetime .Status.AVServerCertificateNotAfter}}</td></tr>
    <tr><th scope="row">認証ベクターAPI の平文HTTP</th><td>{{if .Status.AVPlainEnabled}}有効{{else}}無効{{end}}</td></tr>
  </tbody>
</table>
{{- end}}
{{- end}}
{{- end}}
